:root {
  --white-color: #ffffff;
  --work-sans-font: "Work Sans", sans-serif;
  --space-mono-font: "Space Mono", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2b2b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--work-sans-font);
}

p {
  font-family: var(--work-sans-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;

  text-decoration: transparent;
}

.container {
  width: 1280px;
  margin: 0 auto;
  background: #2b2b2b;
  text-transform: capitalize;
  color: white;
}

header {
  background: #2b2b2b;
  padding: 20px 50px;
}

.header-nav2 ul {
  display: flex;
  column-gap: 20px;
}

.header-nav2 {
  display: flex;
}

.header-nav2 ul li a {
  color: white;
  margin-right: 20px;
}

.header-nav-border {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button-border {
  display: flex;
  padding: 0 30px;
  border-radius: 20px;
  background: #a259ff;
  column-gap: 12px;
}

.header-button {
  background-color: transparent;
  border: none;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.hero-border {
  display: flex;
  padding: 80px;
  column-gap: 30px;
  justify-content: center;
}

.hero-texts {
  color: white;
  text-transform: capitalize;
}

.hero-texts h1 {
  font-size: 67px;
  max-width: 510px;
}

.hero-texts p {
  padding-top: 20px;
  font-size: 22px;
  max-width: 510px;
}

.hero-button-border {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 50px;
  border-radius: 20px;
  background: #a259ff;
  display: inline-block;
}

.hero-get_started {
  border: none;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
}

.hero-social_numbers {
  display: flex;
  column-gap: 30px;
  font-size: 28px;
}

.hero-social_numbers2 {
  display: flex;
  column-gap: 30px;
  font-size: 23px;
}

.hero-image {
  background: #3b3b3b;
  border-radius: 20px 20px;
}

.hero-image p {
  padding: 20px 20px 0 20px;
  color: white;
  font-size: 22px;
}

.hero-mini_logo {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}

.hero-mini_logo p {
  padding-top: 0;
  font-size: 16px;
  max-width: 434px;
}

/* SECTION 2 -  START */
.section2-main-texts {
  padding-top: 80px;
  max-width: 1046px;
  margin-left: auto;
  margin-right: auto;
}

.section2-main-texts h2 {
  font-size: 38px;
}

.section2-main-texts p {
  padding-top: 10px;
  font-size: 22px;
}

.section2-images-border {
  display: flex;
  padding-top: 60px;
  padding-bottom: 80px;
  column-gap: 30px;
  justify-content: center;
}

.section2-images p {
  padding-top: 15px;
}

.section2-images-mini {
  display: flex;
  column-gap: 15px;
  padding-top: 15px;
}

.section2-button {
  padding: 32px 15px;
  border-radius: 20px;
  background: #a259ff;
  width: 100px;
  color: white;
  font-size: 22px;
}

.section2-mini-logo {
  padding-top: 10px;
  display: flex;
}

.section2-mini-logo p {
  padding-top: 0;
  padding-left: 12px;
}
/* SECTION 2 - END */

.section3-texts_border {
  display: flex;
  justify-content: space-around;
  column-gap: 100px;
}

.section3-button_border {
  padding: 10px 50px;
  display: flex;
  border-radius: 20px;
  border: 2px solid #a259ff;
  background-color: transparent;
  display: inline-block;
}

.section3-button {
  color: white;
  background-color: transparent;
  padding-top: 0 auto;
  padding-left: 12px;
}

.section3-images_border {
  display: flex;
  column-gap: 30px;
  padding-top: 60px;
  justify-content: center;
}

.section3-images_border-center {
  display: flex;
  column-gap: 30px;
  padding-top: 30px;
  justify-content: center;
}

.section3-images_border-end {
  display: flex;
  column-gap: 30px;
  padding-top: 30px;
  padding-bottom: 80px;
  justify-content: center;
}

.section3_box {
  padding: 20px 20px;
  width: 240px;
  height: 238px;
  border-radius: 20px;
  background: #3b3b3b;
  position: relative;
}

.section3-avatar_text p {
  border-radius: 20px;
  color: #858584;
  background: #2b2b2b;
  border-radius: 9999px;
  top: 19px;
  left: 20px;
  display: inline-block;
  padding: 4px 10px;
}

.section3-avatar_keepitreal {
  top: 20px;
  padding-left: 45px;
  padding-right: 45px;
  position: absolute;
}

.section3-avatar_names {
  text-align: center;
  font-size: 22px;
  font-family: var(--work-sans-font);
  padding-top: 120px;
  padding-bottom: 20px;
}

.section3-total {
  display: flex;
  column-gap: 10px;
  padding-top: 5px;
}

.section3-total-sales {
  color: #858584;
  font-size: 16px;
  max-width: 95;
}

.section3-total_number {
  color: white;
  font-size: 16px;
  max-width: 95;
}
